<div class="stats">

<p class="title">ESTADISTICAS GLOBALES</p>

<app-etapaspordesarrollo></app-etapaspordesarrollo>

<app-etapas-por-asesor-por-mes></app-etapas-por-asesor-por-mes>
<app-pronostico-ventas></app-pronostico-ventas>
<app-hitrate-apartado></app-hitrate-apartado>

<app-leads-mes></app-leads-mes>

<app-leads-acomulados></app-leads-acomulados>
<app-leads-por-canal></app-leads-por-canal>
<app-inventario-disponible></app-inventario-disponible>
<app-apartado-por-prototipo></app-apartado-por-prototipo>
<app-apartado-por-canal></app-apartado-por-canal>
<app-leads-vendor></app-leads-vendor>

</div>
