<div class="p-1">
    <div>
        <h1>Cotizaciones capturadas</h1>
    </div>

    <div>
        <table>
            <thead>
              <tr>
                <th>Codigo</th>
                <th>Saldo</th>
                <th>Plazos</th>
                <th>Enganche</th>
                <th>Acción</th>
                
              </tr>
            </thead>
            <tbody>
              <tr  >
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td class="flex-sa iconos">
                    <i class="fa-solid fa-wrench"  ></i>
                    <i class="fa-solid fa-trash-can" ></i>

                    <!-- <i [attr.data.id]="user._id" class="fa-solid fa-trash-can" (click)="deleteUser(user._id)"></i> -->
                </td>
               
              </tr>
              
            </tbody>
          </table>
    </div>

</div>