
<div class="p-1">
    <h4 class="title">Información</h4>
</div>
<div class=" w-100 p-1">
   
    <title class="title">Inventario info</title>

    <div class=" flex ">
        
        <div class="w-50 " >
            <p>Desarollo</p>
            <input class="input_style_1  " style="width: 95%;" [(ngModel)]="desarrollo" >
        </div>
        <div class="w-50 " >
            <p>Manzana</p>
            <input class="input_style_1  " style="width: 95%;" [(ngModel)]="manzana" >
        </div>

    </div>
    
    <div class=" flex ">
        
        
        <div style="flex:1">
            <p>Lote</p>
            <input class="input_style_1 " style="width: 95%;" [(ngModel)]="lote">
        </div>
        <div style="flex:1">
            <p>Prototipo</p>
            <input class="input_style_1  " style="width: 95%;" [(ngModel)]="prototipo">
        </div>
    </div>
    <br>
    <div class=" flex ">
        
        

        <div class="w-50" >
            <p *ngIf="obtenerMedidasComoEntero() > 1">Medidas</p>
            <p *ngIf="obtenerMedidasComoEntero() == 1">Si desea cambiar el tipo de inventario de Vivienda a lote, ingrese las medidas a continuación</p>
            <input class="input_style_1 " style="width: 95%;" [(ngModel)]="medidas" type="number">
        </div>
        <div style="flex:1">
            <p *ngIf="obtenerMedidasComoEntero() > 1">Precio por M2</p>
            <p *ngIf="obtenerMedidasComoEntero() == 1">Precio de Vivienda</p>
            <input class="input_style_1  " style="width: 95%;" [(ngModel)]="precioVenta" type="number">
        </div>


    </div>
    <br>
    <div class=" flex ">
        
        
        <div style="flex:1">
            <p>Descuento</p>
            <input class="input_style_1  " style="width: 47%;" [(ngModel)]="descuento" type="number">
        </div>

    </div>
    <br>
    <h4 class="title">Colindancias</h4>
    <div class=" flex ">
       


      
        <table>
            <thead>
             
              
            </thead>
            <tbody>
                <th>Manzana</th>
                <th>Lote</th>
                <th>Direccion</th>
                <th>Metros</th>

            <tr *ngFor="let colindancia of colindancias">
                    <td>{{colindancia.manzanac}}</td>
                    <td>{{colindancia.lotec}}</td>
                    <td>{{colindancia.direccion}}</td>
                    <td>{{colindancia.metros}}</td>
              </tr>
            </tbody>
        </table>
       

    </div>
 
    <br>
    <div class="flex-sa">
        <button class="input_style_1" (click)="modificar()">Modificar</button>
        <button class="input_style_1" (click)="eliminarinv()">Eliminar</button>
    </div>
  
    
</div>